body{
     background-image: url("https://media.istockphoto.com/id/1253435451/vector/fantastic-wonderland-forest-landscape-with-road-mushrooms-ferns-white-rabbit-runs-in-the-fog.jpg?s=612x612&w=0&k=20&c=lWROMnlDm2S16327coICHRN-241sn_TdLM6nsjVsMs4=");
     background-repeat: no-repeat;
     background-size: cover;
}
h1{
     text-align: center;
     color: darkolivegreen;
     background-image: url("https://cdn.pixabay.com/video/2023/06/23/168515-839370213_tiny.jpg");
     background-size: 100px
}
h2{
     background-color: beige;
     width: 270px;
}
p{
     text-align: center;
     background-color: burlywood;
     box-shadow: 10px 10px 10px 5px yellow;
}